@font-face {
 font-family: 'PlayfairDisplay-Bold';
 src: url("../fonts/PlayfairDisplay-Bold.ttf"); /* TTF file for CSS3 browsers */
}
@font-face {
 font-family: 'PlayfairDisplay-Bold-IE';
 src: url("../fonts/PlayfairDisplay-Bold.eot"); /* EOT file for IE */
}
@font-face {
 font-family: 'PlayfairDisplay-Regular';
 src: url("../fonts/PlayfairDisplay-Regular.ttf"); /* TTF file for CSS3 browsers */
}
@font-face {
 font-family: 'PlayfairDisplay-Regular-IE';
 src: url("../fonts/PlayfairDisplay-Regular.oet"); /* EOT file for IE */
}
@font-face {
 font-family: 'PlayfairDisplay-BlackItalic';
 src: url("../fonts/PlayfairDisplay-BlackItalic.ttf"); /* TTF file for CSS3 browsers */
}
@font-face {
 font-family: 'PlayfairDisplay-BlackItalic-IE';
 src: url("../fonts/PlayfairDisplay-BlackItalic.eot"); /* EOT file for IE */
}

body, html {
	-webkit-font-smoothing: antialiased;
}
.parallax {
	height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*-------------------- SCROLLBAR --------------------*/

::-webkit-scrollbar{
	width: 4px;
}

::-webkit-scrollbar-thumb{
	background-color:rgb(255, 255, 255); border-radius: 0;
}
::-webkit-scrollbar-thumb:hover{
	background-color:rgb(137, 139, 140);
}

::-webkit-scrollbar-track{
	background-color:rgb(81, 78, 79);
}

/*-------------------- TEXT --------------------*/

.home-title {
	margin-top: 50px !important;
	text-transform: uppercase;
	color: #FFF;
	padding: 0px 10px 10px 10px;
	border: 1px solid #7E7A7A;
	font-size: 80px !important;
	font-family: 'PlayfairDisplay-BlackItalic', 'PlayfairDisplay-BlackItalic-IE';
	text-align: center;
}

.home-text {
	color: #FFF;
	padding: 10px 10px 10px 10px;
	border: 1px solid #7E7A7A;
	text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
	font-family: 'PlayfairDisplay-Regular', 'PlayfairDisplay-Regular-IE';
}

.home-text p {
	line-height: 2;
}

.discography-title {
	text-transform: uppercase;
	color: #FFF;
	margin-top: 50px;
	padding: 10px 10px 10px 10px;
	border: 1px solid #7E7A7A;
	font-size: 26px !important;
	font-family: 'PlayfairDisplay-Bold', 'PlayfairDisplay-Bold-IE';
	text-align: center;
}

.disc-layout {
	height: 100px;
	border: 1px solid #7E7A7A;
}

.album .content {
	border: 1px solid #7E7A7A;
	height: 190px;
}

.album .track-list {
	font-family: 'PlayfairDisplay-Regular', 'PlayfairDisplay-Regular-IE';
	color: #FFF;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	line-height: 2;
}
.album .album-vertical-line.left {
	height: 20px;
	border-right: 1px solid #7E7A7A;
	border-bottom: 1px solid #7E7A7A;
}
.album .album-vertical-line.right {
	height: 20px;
	border-left: 1px solid #7E7A7A;
	border-bottom: 1px solid #7E7A7A;
}
.album .album-header.left {
	border-left: 1px solid #7E7A7A;
}
.album .album-header.right {
	border-right: 1px solid #7E7A7A;
}
.album .album-title {
	text-transform: uppercase;
	font-family: 'PlayfairDisplay-Regular', 'PlayfairDisplay-Regular-IE';
	color: #FFF;
	padding-left: 15px;
}
.vertical-line {
	border-left: 1px solid #7E7A7A;
	height: 500px;
}

.gallery-title {
	text-transform: uppercase;
	font-family: 'PlayfairDisplay-Regular', 'PlayfairDisplay-Regular-IE';
	color: #FFF !important;
	padding-left: 15px;
	text-decoration: none;
}

.gallery-title img {
	margin-top: 20px;
}

.guitar img {
	margin: auto;
	display: block;
}

/* Extra-Small */
@media(max-width: 768px) {
	.parallax.home {
		height: 100%;
	}
	#person-icons {
		display: none;
	}
	.guitar {
		display: none;
	}
	.no-padding {
		padding: 0 !important;
		margin: 0 !important;
	}
}
/* Small */
@media(min-width: 769px) and (max-width: 992px) {
	.parallax.home {
		height: 100%;
	}
	#person-icons {
		display: none;
	}
	.guitar {
		display: none;
	}
	.no-padding {
		padding: 0 !important;
		margin: 0 !important;
	}
}
/* Medium */
@media(min-width: 993px) and (max-width: 1200px) {
	.parallax.home {
		min-height: 100vh;
		height: auto;
	}
	#person-icons {
		padding-top: 150px;
	}
	.guitar {
		padding-top: 50px;
	}
	.no-padding {
		padding: 0 !important;
		margin: 0 !important;
	}
}
/* Large */
@media(min-width: 1200px){
	.parallax.home {
		min-height: 100vh;
		height:auto;
	}
	#person-icons {
		padding-top: 150px;
	}
	.guitar {
		padding-top: 100px;
	}
	.no-padding {
		padding: 0 !important;
		margin: 0 !important;
	}
}






/*-------------------- MENU --------------------*/
/* MENU CONF*/


.main-nav {
  width:100vh;    
  height:45px;
  position:fixed;
  z-index: 1;
  margin-left: 93%;

  -webkit-transform-origin: left top;
  -webkit-transform:rotate(-90deg) translateX(-100%);
    
}

.nav>li>a:focus, .nav>li>a:hover{
background: rgb(255, 255, 255) transparent !important; 
}

ul.nav li {    
  margin-right:0px;
  float:right;
  height:100%;
  line-height:45px;
  background-color: transparent;

}

ul.nav a:hover {    
color: #4BE8CE;
  background-color: transparent;

}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
a {
    color: #f85c37;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
ul.nav a {    
color: #ffffff;
  background-color: transparent;

}
.smoothScroll{
	text-align: -webkit-center;
}
p{
	line-height: 1em;
    font-weight: 100;
    margin: 0 0 10px;
}
.line p{
	width: 100%;
	color: #ffffff;
	    border-bottom: 10px;
	    border-style: solid;

}
.menu {
	position: fixed;
	left: -60px;
	width: 20%;
	height:100%;
	top: 0;
	z-index: 10;
	margin:0;
cursor: pointer;
	

}


.menu-wrap {
	position: absolute;
	top: 0;
	left: 60px;
	background-color: rgba(255,255,255,0.1);
	width: 200px;
	height: 100%;
	opacity: 1;


	
}


.icons p a{
display:inline-block; 
margin-top: 0px;
 margin-left: 8px; 

 
}
.icons p{margin-bottom: 10px;}
.icons {
	text-align: center;
	margin-left: 0px;
	margin-right: 25PX;
	/*margin-top: 283px;*/
}

.menu .logo a {
	

    left:20px;
	margin-top: 36px;
}


.menu img {
	margin: 10px 0;
	max-width: 160px;
}
.border {
margin-bottom: 5%;
		width: 133px;
	height: 38px;
	border-style: solid;
	border-color: #FFFFFF;
    border-width:0.16px; 
	width: 133px;
	height: 38px;
	display: block; 	
}
.icons-bottom {
		position: absolute;
		width: 100%;
		right: 0px;
		bottom: 0px;
	}
	.icons-bottom p {
		margin-bottom: 0px;
	}
	border:nth-of-type(odd) { 
  background: transparent; 
}
.menu a {
	
	color: #ffffff;
	display: block;
	font-size: 12px;
	font-weight: 700;
	line-height: 40px;
	text-transform: uppercase;
	padding: 0px;
	margin: 0px;
	

}


.menu a:hover {
	color: #000000;
}

.menu a:active {
	color: #ffffff;
}

.menu a > i {
	float: left;
	display: inline-block;
	 
	text-align: left;
	width: 25px;
	font-size: 14px;
	line-height: 40px;
	margin: 25px 2px;
padding: 0px;	
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.nav>li>a:focus, .nav>li>a:hover{
	background-color: rgba(255,255,255,0.1) !important;
}



/* Push the body after clicking the menu button */
.body-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.body-push-toright {
	left: 200px;
}

.body-push-toleft {
	left: -200px;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 25px;
    padding-right: 15px;
}



.menu,
.body-push {
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		 -o-transition: all .3s ease;
			transition: all .3s ease;
}

